@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

:root {
    --bg-color: #ffffff;
    --text-color: #ffffff;
    --primary-color: #515761;
    --secondary-color: #374151;
    --hero-bg-light: #f3f4f6;
    --hero-text-light: #1f2937;
    --hero-bg-dark: #111827;
    --hero-text-dark: #ffffff;
    --cat-bg-color: #ffffff;
    --cat-color: #000000;
}

.dark {
    --bg-color: #1f2937;
    --text-color: #ffffff;
    --primary-color: #111827;
    --secondary-color: #374151;
    --hero-bg-light: #f3f4f6;
    --hero-text-light: #1f2937;
    --hero-bg-dark: #111827;
    --hero-text-dark: #ffffff;
    --Footer-dark: #656c77;
    --cat-bg-color: #111827;
    --cat-color:#ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
